/.direnv/*
/target
/.idea/
nohup.out
/www/public/assets/
/www/public/mooplas_game.d.ts
/www/public/mooplas_game.js
/www/public/mooplas_game.wasm.d.ts
/www/public/mooplas_game.wasm
/www/public/mooplas_game_bg.wasm
/www/public/mooplas_game_bg.wasm.d.ts
/mooplas-signalling-server.tar.gz
/mooplas.zip
